VITE_ID=

# Hasura
VITE_API_BASE_ROOT=
VITE_GRAPHQL_PH_ENDPOINT=
VITE_GRAPHQL_RH_ENDPOINT=
VITE_GRAPHQL_WS_ENDPOINT=

# AWS
VITE_S3_BUCKET=

# Server
VITE_KOLABLE_SERVER_ENDPOINT=
VITE_LODESTAR_SERVER_ENDPOINT=

# Ebook
VITE_EBOOK_SALT=
VITE_EBOOK_ITERATION=
VITE_SYS_CURRENCY=
