@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,500,700&display=swap&subset=chinese-traditional');

* {
  -webkit-overflow-scrolling: touch;
}

body {
  font-family: 'Roboto', 'Noto Sans TC', sans-serif !important;
}

svg {
  display: inline-block !important;
  vertical-align: text-top !important;
}

// ant design
.ant-btn {
  span {
    line-height: normal;
  }
  .anticon {
    line-height: 0;
  }
}

.ant-popover {
  z-index: 1001;
  .ant-popover-title {
    padding: 1rem 1.25rem;
  }
  .ant-popover-inner-content {
    padding: 0;
  }

  @media (max-width: 767px) {
    .ant-popover-arrow {
      display: none;
    }
  }
}

.ant-modal-mask {
  z-index: 1002;
}

.ant-modal-wrap {
  z-index: 1003;
}

.ant-message {
  z-index: 2104;
}

.ant-select-dropdown {
  z-index: 1450;
}

.ant-input-number {
  width: 120px !important;
}

.ant-select-selection--multiple > ul > li,
.ant-select-selection--multiple .ant-select-selection__rendered > ul > li {
  line-height: 36px;
}

.ant-select-tree li {
  overflow: hidden;
  max-width: 432px;
}

.short-bf-content {
  height: 240px;
}

.fb_customer_chat_bubble_pop_in {
  bottom: 100px !important;
}

// custom component
.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.cursor-pointer {
  cursor: pointer;
}

// color palette
:root {
  --success: #4ed1b3;
  --warning: #ffbe1e;
  --error: #ff7d62;
  --gray-darker: #585858;
  --gray: #cdcece;
  --gray-light: #ececec;
  --gray-lighter: #f7f8f8;
  --gray-dark: #9b9b9b;
  --black-45: rgba(0, 0, 0, 0.45);
}
